<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Loan default prediction</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
</head>

<body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Loan default predictor</span>
    </div>
  </md-toolbar>
  <md-content flex style="width:420">
    <md-card>
      <md-card-content>
        <p><em>Example application to predict loan defaults.</em></p>
       </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span>Loan term</span>
          <md-slider-container>
              {: data.term :}&nbsp;
            <md-slider aria-label="Slider" min="24" max="60"
                       ng-model="data.term" id="age-slider">
            </md-slider>
          </md-slider-container>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>DTI</span>
          <md-slider-container>
              {: data.dti :}&nbsp;
            <md-slider aria-label="Slider" min="0" max="150"
                       ng-model="data.dti" id="age-slider">
            </md-slider>
          </md-slider-container>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>LTI</span>
          <md-slider-container>
              {: data.lti :}&nbsp;
            <md-slider aria-label="Slider" min="0" max="150"
                       ng-model="data.lti" id="age-slider">
            </md-slider>
          </md-slider-container>
        </div>

        <div layout="row" layout-align="space-between center">
          <span>Number of account open in the last 2 years</span>
          <md-slider-container>
              {: data.num_open :}&nbsp;
            <md-slider aria-label="Slider" min="0" max="50"
                       ng-model="data.num_open" id="age-slider">
            </md-slider>
          </md-slider-container>
        </div>
          
        <div layout="row" layout-align="space-between center">
          <span>Home ownership</span>
          <md-select ng-model="data.home_ownership" placeholder="Select">
            <md-option value="MORTGAGE">MORTGAGE</md-option>
            <md-option value="RENT">RENT</md-option>
            <md-option value="OWN">OWN</md-option>
            <md-option value="OTHER">OTHER</md-option>
          </md-select>
        </div>
          
        <div layout="row" layout-align="space-between center">
          <span>Loan subgrade</span>
          <md-select ng-model="data.subgrade" placeholder="Select">
            <md-option value="A1">A1</md-option>
            <md-option value="A2">A2</md-option>
            <md-option value="A3">A3</md-option>
            <md-option value="A4">A4</md-option>
            <md-option value="A5">A5</md-option>
            <md-option value="B1">B1</md-option>
            <md-option value="B2">B2</md-option>
            <md-option value="B3">B3</md-option>
            <md-option value="B4">B4</md-option>
            <md-option value="B5">B5</md-option>
            <md-option value="C1">C1</md-option>
            <md-option value="C2">C2</md-option>
            <md-option value="C3">C3</md-option>
            <md-option value="C4">C4</md-option>
            <md-option value="C5">C5</md-option>
            <md-option value="D1">D1</md-option>
            <md-option value="D2">D2</md-option>
            <md-option value="D3">D3</md-option>
            <md-option value="D4">D4</md-option>
            <md-option value="D5">D5</md-option>
            <md-option value="E1">E1</md-option>
            <md-option value="E2">E2</md-option>
            <md-option value="E3">E3</md-option>
            <md-option value="E4">E4</md-option>
            <md-option value="E5">E5</md-option>
            <md-option value="F1">F1</md-option>
            <md-option value="F2">F2</md-option>
            <md-option value="F3">F3</md-option>
            <md-option value="F4">F4</md-option>
            <md-option value="F5">F5</md-option>
            <md-option value="G1">G1</md-option>
            <md-option value="G2">G2</md-option>
            <md-option value="G3">G3</md-option>
            <md-option value="G4">G4</md-option>
            <md-option value="G5">G5</md-option>           
              
          </md-select>
        </div>
        
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="submit()" class="md-accent md-raised">Predict</md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span>Prediction</span>
          <span>{: result :}</span>
        </div>
      </md-card-content>
    </md-card>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

  <script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue-grey')
        .accentPalette('orange');
    });
    app.controller('myCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.data = {};
        $scope.submit = function() {
          $scope.result = "Wait...";
          $http({
            method : 'POST',
            url : '/api/predict',
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data.result;
          }).error(function(data, status, headers, config) {
            $scope.result = 'Error';
          });
        }
      }
    ]);
  </script>
</body>
</html>